section
  h2 Forbes Lindesay
  h4 Social Networks
  ul
    li Twitter: @ForbesLindesay
    li GitHub: @ForbesLindesay
    li Blog: www.forbeslindesay.co.uk
  h4 Open Source
  ul
    li Jade (maintainer)
    li Browserify Middleware (creator)
    li esdiscuss.org (creator)
    li regexplained.co.uk (creator)
  h4 Work
  ul
    li Red Gate
  h4 Slides
  ul
    li pag.forbesl.co.uk